@theme {
	--color-primary-900: #ac3fff;
	--color-green: #d4ff38;

	--color-black-900: #161616;
	--color-black-50: #eaeaea;

	--color-white-900: #fff;

	--color-yellow-green-900: #d5ff3b;
	--color-yellow-green-700: #b3dc1c;

	--color-red-900: #d63333;
	--color-red-600: #da4d4d;
}
