:root {
	// text
	--font-size-h1: 46px;

	// colors
	--bg-primary-900: #ac3fff;
	--bg-green: #d4ff38;

	--bg-black-900: #161616;
	--bg-black-50: #eaeaea;

	--bg-white-900: #fff;

	--bg-yellow-green-900: #d5ff3b;
	--bg-yellow-green-700: #b3dc1c;

	--bg-red-900: #d63333;
	--bg-red-600: #da4d4d;
}
